.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.wrap{
    width: 60%;
    border-top: 10px solid #176B87;
    border-left: 4px solid #176B87;
    border-bottom: 4px solid #176B87;
    border-right: 4px solid #176B87;
    border-radius: 15px;
    padding: 50px;
}

.wrap h1{
    font-size: 24px;
    margin: 20px 0;
}
.slot{
    display: flex;
}
.slot h3{
    font-size: 18px;
}

.slot p{
    font-size: 16px;
    margin: 0 10px;
}

.image{
    width: 35%;
    margin: 0 30px;   
}

.image img{
    width: 100%;
    
}