.tableDetails {
  border:3px solid rgb(3, 0, 0);
  margin-right: 80px;
  border-color: black;
  border-radius: 10px;
  height: 100%;
  width: 800px;
} 

td{
  text-align: center;
  color: black;
}

th{
  text-align: center;
  color: black;
}

.thead{
  background-color: rgb(13, 52, 73);
  color: white;
  text-align: center;
}

.buttonDark {
  text-align: center;
  margin: auto;
  border:2px solid rgb(3, 0, 0);
  background-color:white;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 12px;
  width: 100px;
  height: 30px;
  color: black;
  border-width: 3px;
}

.buttonDark:hover {
  background-color: rgb(13, 52, 73);
  border-color: rgb(240, 240, 240);
  color: white;
  border-width: 3px;
}

.widthCenter{
  width: 80%;
}