html,
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #053B50;
}

/* button */
.btnstyle{
  border-radius: 10px;
  border: 3px solid #053B50;
  background-color: #FFF;
  color: #053B50;
  text-align: center;
  font-size: 12px;
  font-weight:800;
  margin: 2px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}
.btnstyle:hover{
  color: #ffff;
   font-weight:800;
  background-color: #053B50;
  border: 3px solid #fff;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

/* Header */
.heading{
    background-color: #053B50;
    color:#ffff;
    padding-bottom:20px;
    padding-top: 20px;
    padding-left: 50px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.headRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 12px;
}
.headRight{
  display: flex;
  flex-wrap: wrap; 
  padding-right: 0px;
}
.bookmark span{
  position: relative;
  bottom:20px;
  right: 10px;
 
}
.bookmark{
  cursor: pointer;
}

#sitesupplycraft{
    font-size: 30px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
#siteimg{ 
    width: 93px;
    height: 53px;
    padding-right: 10px;
}

#job,#owner{
    padding-right: 30px; 
    padding-top: 20px;  
    cursor:pointer;
    color: white; 
}


#job:hover,#owner:hover{
    color: green;
    text-decoration: underline;

}
.humburger{
  position: absolute;
  top:40px;
  left:20px;
  cursor: pointer;
}

/* sidebar */
.side{
  display: inline-block;
    background: #176B87;
    color: #ffff;
    padding: 20PX;   
    width: 100%; 
    height: 100%;        
}
.selectedCategory{
  font-size: 20px;
  text-decoration: underline;
  color: #f8ce0b;
  transition: 0.2s;
}
.selectedRating{
  font-size: 30px;
  transition: 0.2s;
}

/* Admin Sidebar */
.adminSide{
  display: inline-block;
    background: #176B87;
    color: #ffff;
    padding: 20px 0;   
    width: 100%; 
    height: auto; 
    min-height: 193vh;
    /* padding-left: 20px;
    padding-right: 20px; */
    
         
}

.sidebarLink{
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  padding: 9px 10px;
}

.sidebarLink.active {
  background-color: #053B50; 
  color: #ffffff; 
}

.sidebarLink:hover {
  background-color: #67bcdd;  
}


/* footer */
.footer{
  background-color: #6DB2C9;
  color: #ffff;
  padding: 20px;
  
}
p a{
  color: #ffff;
  text-decoration: none;
}

.info{
  text-decoration: underline;
  color: #053B50;
}
.social-icons {
  justify-content: space-around;
  align-items:end;
  padding-right: 20px;
  padding-top: 10px;
}
.social-icons a {
  color: #053B50; 
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #ffff;
}


/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
  margin-bottom: 200px;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #053B50;
  border-color:#053B50 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ProductList */

.productlist{
  padding: 20px;
}
.size{
  width: 300px;
  height: 200px;
}
#view_btn {
  background-color: #f4a236;
  padding: 0.4rem 1.8rem;
  color: #053B50;
}
.card {
  height: 80%;
}

.card-title{
  color: #2e2e2e;
  cursor: pointer;
}

.card-title:hover {
  color: #fa9c23;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}
.card-img-top {
  width: 100%;
  height: 40%;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}
 
/* Search */
.search{
  padding-right: 20px;
  padding-top: 20px;
}
.bar{
  position: relative;
  left: 80px;
}
.bar form{
  display: flex;
  justify-content: center;
}
.search form select,.search button{  
  margin-top: 20px;
  border: 2px solid #053B50 ;
  color: #053B50;
}


/*Login*/
.parent{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.frame{
  width: 80%;
  padding: 20px;
  margin: 30px;
  border: 2px solid #c7b8a13b;
  box-shadow: 5px 5px 10px #053B50;
  background-color: #c7b8a13b;
  border-radius: 10px;   
}
.frame Row{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.login{
  width: 100%;
  border-top: 10px solid #053B50; 
  border-radius: 20px;
  min-height: 70vh;
}
.marginOff{
  margin-right: 60px;
}
.signup{
  min-width: 300px;
  width: 100%;
  min-height: 70vh;
  margin-left: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

}
.signup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/signup.jpeg');
  background-position: center;
  background-size: cover;
  filter: blur(2px); 
}
.signup-content {
  z-index: 1;
  padding: 20px;
}
.signup-content center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login h1,.signup h1{
  text-align: center;
  padding-bottom: 50px;
}


.float{
  display: flex;
  justify-content: center;
  align-items: center;
    
}

/*Registration*/
.profilePic:hover{
  background-color: #3e8e41;
}

.profilePic-before{
  height:200px;
  width: 200px;
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 50px;
}

.profilePic-after{
  height:200px;
  width: 200px;
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 50px;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.register .regframe{
  max-width: 800px;
  width: 90%;
  padding: 20px;
  margin: 30px;
  border: 2px solid #c7b8a13b;
  box-shadow: 5px 5px 10px #053B50;
  background-color: #c7b8a13b;
  border-radius: 10px;  
}

.register .card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d7c6ad3b;
  background-position: center;
  background-size: cover;
  filter: blur(2px); 
}
  
.register .error{
  text-align: right;
  color: #B0000B;
  font-weight: 100;
  font-size: 14px;
}

.btnstyle{
  border-radius: 10px;
  border: 3px solid #053B50;
  background-color: #FFF;
  color: #053B50;
  text-align: center;
  font-size: 14px;
  font-weight:800;
  margin: 2px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}
.register .btnstyle:hover{
  color: #ffff;
  font-weight:800;
  background-color: #053B50;
  border: 3px solid #fff;
}

/*Verify email*/
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.container .frame{
  width: 50%;
  padding: 20px;
  margin: 80px;
  border: 2px solid #c7b8a13b;
  box-shadow: 5px 5px 10px #053B50;
  background-color: #c7b8a13b;
  border-radius: 10px; 
}

.container .frame Button{
  margin: 10px;
  border-radius: 10px;
  border: 3px solid #053B50;
  background-color: #FFF;
  color: #053B50;
  text-align: center;
  font-size: 12px;
  font-weight:800;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

.container .frame Button:hover{
  color: #ffff;
   font-weight:800;
  background-color: #053B50;
  border: 3px solid #fff;
}

.container p{
  text-align: center;
}

.round-image{
  align-items: center;
  height:200px;
  width: 200px;
  border-radius: 100%;
  margin-left: 150px;
  margin-bottom: 10px;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}
.no-hover-dropdown:hover {
  background-color: transparent !important;
  color: #fff;
}

/* resetPassword */
.reset{
  width: 60%;
  min-height: 60vh; 
  border-top: 10px solid #053B50; 
}
.frame-reset
{
  padding: 20px;
  margin: 30px;
  border: 2px solid #c7b8a13b;
  box-shadow: 5px 5px 10px #053B50;
  background-color: #c7b8a13b;
  border-radius: 10px;  
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%
}
.reset h1{
  text-align: center;
  padding-bottom: 50px;
}

/* product details */
.productFrame{
  height:100%;
  width:80%;
  margin:20px 80px;
  border-radius:20px;
  color: #053B50;
  min-width: 300px;
}
.smallImage
{
  margin:20px;
  border-radius:10px;
  height:75px;
  width:75px;
  cursor:pointer;
}  
.slide
{
  width:45%;
  height:80%;
  margin:20px;
  border-radius:30px
}

.location
{
  background-color:#B0000B;
  color:#ffff;
  font-weight:bolder;
   padding:20px;
   border-radius:10px;
   display:inline-block;
   margin:20px 10px;
   text-align:center;
   cursor:pointer;
   transition: 0.2s ease-in-out;
  }
.location:hover{
  box-shadow: 0 4px 8px #2e2e2e;
  color: #ffff;
}
.description{
  padding-left: 20px;
  padding-bottom: 20px;
 
}
.description pre{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.review p{
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.review{
  box-shadow: 0 2px 5px #053B50;
 padding-top: 10px;
  margin-top: 10px;
  border-radius: 30px;
  display: inline-block;
  width: 75%;
}

/* Add Review */

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
  transition: 0.2s ease-in-out;
}
.star:hover{
  font-size: 60px;
 
}

.star:first-child {
  padding-left: 0;
}

/* myprofile */
.myprofile td{
padding-right: 20px;
text-align: right;
}

.myprofile td:nth-child(2){
border-bottom: 3px solid #1A9406;
text-align: center;
width: 70%;
}
.profileFrame{
  height:100%;
  width:70%;
  margin:20px 80px;
  border-radius:20px;
  color: #053B50;
  min-width: 200px;
}

/* myCarts */
.bookmarkProduct{
  margin: 10px 0;
  border: 1.5px solid black;
  color: #053B50;
  cursor: pointer;
}
.bookmarkProduct img{
  width: 80px;
  height: 80px;
  border: 1px solid #053B50;
}
@media only screen and (max-width: 1200px){
  
  /*admin side bar*/
  .adminSide{
    min-height: 190vh;
  }
}

@media only screen and (max-width: 800px){
  
  /*admin side bar*/
  .adminSide{
    min-height: 170vh;
  }

  /* Searchbar */
    .bar form{
      display: inline;
      position: relative;
      right: 50px;
    }
    .searchBar{
      width: 80%;
   }
   /* productDetails */
   .carouselImage{
    position: relative;
    right: 10px;
   }

   /* login */
   .marginOff{ 
    margin-right:0px;
   }


  
  /*  resetpassword */
  .frame-reset{
    width: 600px;
  }
  .reset{
    width: 100%;
  }
  .profileFrame{
    width: 500px;
    height:100%;
    margin:20px 0;
    border-radius:20px;
    color: #053B50;
    min-width: 200px;
  }  
}

 /*  product owner  DashBoard  */
/* 
.sideb{
  display: inline-block;
  background: #176B87;
  color: #ffff;   
  width: 12.5%; 
  height: 1200px;
  padding: 0px;
  
}
.main{
  float: right;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #053B50;
}
.con{
  width: 87.5%;
  float: right;
  text-align: center;
}


.linechart{
  width: 500px;
  height: 300px;
  float: left;
}

.phara1{
  padding-left: 60px;
  
}
.piechart{
  width: 250px;
  height: 200px;
  float: right;
  margin-right: 150px;
  
  
}
.img{
  width: 400px;
}
.phara2{
  
  float: right;
  margin-right: 60px;
  
}
.table{
  float: right;
  height: 100%;
  color: #053B50;
}
.page{
  width: 100%;
}

.im1{
  height: 50px;
}
.tearea{
  background-color:aliceblue;
}
.im2{
  padding-left: 50px;
  height: 40px;
}
.btn1{
  border-radius: 10px;
  border: 3px solid #053B50;
  background-color: #edf1f4;
  color: #053B50;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight:800;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.btn1:hover{
  color: #ffff;
  font-weight:800;
 background-color: #053B50;
 border: 3px solid #fff;
}
.btn{
  border-radius: 10px;
  border: 3px solid #053B50;
}
.btn:hover{
  background-color: #176B87;
  color: #fff;
  border: 3px solid #e4e5e6;
}
.textsearch{
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 20px;
}
 */




